@import "../../scss";

.movies {
    &__empty {
        color: $black;
        text-align: center;
        font-family: $base-font-family;
        font-style: normal;
        font-weight: 400;
        margin: 0 auto;
        padding: 100px 0;
    }

    &__error {
        color: $red;
        text-align: center;
        font-family: $base-font-family;
        font-style: normal;
        font-weight: 400;
        margin: 0 auto;
        padding: 50px 0;

        @include desktop {
            max-width: 50%;
            margin: 0 auto;
        }
    }

    &__footer {
        padding: 50px 0 80px 0;
    }

    &__button {
        width: 100%;
    }
}
