@import "../../scss";

.edit-profile {
    @include desktop {
        height: calc(100vh - $header-height - 74px - 70px);
        padding: 74px 0 70px 0;
    }

    @include tablet {
        padding: 236px 0 269px 0;
    }

    @include mobile {
        padding: 70px 0 40px 0;
    }

    &__container {
        height: 100%;
    }

    &__content {
        margin: 0 auto;
        height: 100%;
        display: flex;
        flex-direction: column;

        @include desktop {
            width: 410px;
        }

        @include tablet {
            width: 410px;
        }

        @include mobile {
            width: 260px;
        }
    }

    &__title {
        color: $black;
        text-align: center;
        font-family: $base-font-family;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    &__fields {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        flex-grow: 1;
        justify-content: flex-start;

        @include desktop {
            margin-top: 123px;
        }

        @include tablet {
            margin-top: 96px;
        }

        @include mobile {
            margin-top: 80px;
        }
    }

    &__buttons {
        display: flex;
        flex-direction: column;
        gap: 16px;

        @include tablet {
            margin-top: 210px;
        }

        @include mobile {
            margin-top: 379px;
        }
    }

    &__form {
        height: 100%;
    }
}
