@import "../../scss/index";

.header {
    height: $header-height;
    padding: 18px 0;
    box-sizing: border-box;
    background-color: $white;
    color: $black;

    &--primary {
        background-color: $primary;
        color: $white;
    }

    &__container {
        display: flex;
        flex-wrap: nowrap;

        @include tablet {
            max-width: calc(100vw - 30px * 2);
            margin: 0 30px;
        }
    }

    &__left {
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        gap: 45px;
        align-items: center;
        justify-content: flex-start;
    }

    &__right {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        gap: 10px;
    }

    &__dektop {
        display: none;

        @include desktop {
            display: block;
        }
    }

    &__not-dektop {
        display: none;

        @include tablet {
            display: block;
        }

        @include mobile {
            display: block;
        }
    }

    &__sandwitch {
        padding: 0;

        @include desktop {
            display: none;
        }

        @include tablet {
            display: block;
        }

        @include mobile {
            display: block;
        }
    }
}
